.section--graphics {
  margin-top: 70px;
  margin-bottom: 90px; }
  @media (max-width: 767.98px) {
    .section--graphics {
      margin-top: 40px;
      margin-bottom: 40px; } }

.graphics--vision {
  position: relative;
  max-width: 895px; }
  .graphics--vision .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

