.accordions {
  margin-top: 80px;
  margin-bottom: 80px; }
  .accordions h5 {
    line-height: 1.75rem; }
  .accordions svg.img-icon {
    width: 14px;
    margin-right: 5px; }
  .accordions .accordion-item ol, .accordions .accordion-item ul {
    padding-left: 20px; }

section {
  margin-bottom: 80px; }
  @media (max-width: 991.98px) {
    section {
      margin-bottom: 40px; } }

.accordion .accordion-item .btn-toggle {
  border-radius: 22px;
  border-color: #DEE2E5; }
  .accordion .accordion-item .btn-toggle .title--open {
    display: none; }
  .accordion .accordion-item .btn-toggle[aria-expanded="true"] .img-icon {
    transform: rotate(180deg); }
  .accordion .accordion-item .btn-toggle[aria-expanded="true"] .title--open {
    display: inline; }
  .accordion .accordion-item .btn-toggle[aria-expanded="true"] .title--close {
    display: none; }

.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .documents a.document {
    flex: 0 0 50%;
    position: relative;
    color: #646565; }
    .documents a.document.document-pdf {
      display: flex;
      align-items: center; }
      .documents a.document.document-pdf:before {
        content: " ";
        display: inline-block;
        background-repeat: no-repeat;
        background-size: auto 20px;
        background-position: center center;
        display: inline-block;
        width: 20px;
        height: 1.75rem;
        text-align: center;
        margin-right: 15px;
        background-image: url(../assets/images/icon-pdf.png); }

