.year:not(:last-child) {
  margin-bottom: 100px; }
  @media (max-width: 991.98px) {
    .year:not(:last-child) {
      margin-bottom: 54px; } }

.year .year-title {
  -webkit-text-stroke: 1px #dcdcdc;
  font-size: 200px;
  font-weight: 700;
  color: transparent;
  z-index: 1;
  line-height: 1;
  left: -24px; }
  @media (max-width: 991.98px) {
    .year .year-title {
      font-size: 100px;
      left: -8px; } }

.year .grid .grid-sizer, .year .grid .grid-item {
  width: calc(50% - 50px); }
  @media (max-width: 991.98px) {
    .year .grid .grid-sizer, .year .grid .grid-item {
      width: 100%; } }

.year .grid .gutter-sizer {
  width: 100px; }
  @media (max-width: 1199.98px) {
    .year .grid .gutter-sizer {
      width: 80px; } }
  @media (max-width: 991.98px) {
    .year .grid .gutter-sizer {
      width: 0; } }

.year .grid .grid-item {
  float: left; }
  @media (max-width: 991.98px) {
    .year .grid .grid-item {
      padding-left: 20px;
      padding-right: 20px; } }
  .year .grid .grid-item .read-more {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none; }
  .year .grid .grid-item .btn.btn-outline-orange {
    margin: 10px 0;
    box-shadow: none; }
    .year .grid .grid-item .btn.btn-outline-orange .img-icon {
      fill: #F05A23; }
    .year .grid .grid-item .btn.btn-outline-orange:hover {
      color: #fff;
      background: #F05A23; }
      .year .grid .grid-item .btn.btn-outline-orange:hover .img-icon {
        fill: #fff; }
  .year .grid .grid-item .top-spacer {
    height: 70px; }
    @media (max-width: 991.98px) {
      .year .grid .grid-item .top-spacer {
        height: 35px; } }
  .year .grid .grid-item[data-index='0'] .top-spacer {
    height: 115px; }
    @media (max-width: 991.98px) {
      .year .grid .grid-item[data-index='0'] .top-spacer {
        height: 60px; } }
  @media (min-width: 768px) {
    .year .grid .grid-item[data-index='1'] .top-spacer {
      height: 300px; } }

