.section--top {
  margin-bottom: 180px; }
  @media (max-width: 767.98px) {
    .section--top {
      margin-bottom: 50px; } }
  .section--top img {
    border-radius: 3px; }
    @media (max-width: 767.98px) {
      .section--top img {
        border-radius: 0; } }
  .section--top .content {
    max-width: 476px; }
    .section--top .content h5 {
      line-height: 1.5; }
    .section--top .content a {
      color: #9D9A9A; }
      .section--top .content a:hover {
        color: #F05A23;
        text-decoration: none; }
    @media (max-width: 767.98px) {
      .section--top .content {
        padding: 0 40px;
        max-width: unset; } }

.swiper--banner .swiper-button-prev, .swiper--banner .swiper-button-next {
  top: 20%;
  display: none;
  background-color: rgba(0, 0, 0, 0.3); }
  @media (max-width: 767.98px) {
    .swiper--banner .swiper-button-prev, .swiper--banner .swiper-button-next {
      display: flex; } }

.swiper--banner .banner {
  margin: 0; }
  @media (max-width: 991.98px) {
    .swiper--banner .banner .btn-icon .img-icon line {
      stroke: #F05A23;
      opacity: 1; } }

.section--about-us-diagram {
  margin-top: 150px; }
  @media (max-width: 767.98px) {
    .section--about-us-diagram {
      margin-top: 40px; } }

