.video-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  .video-info-wrap p {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #8e8f8f;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all; }
  .video-info-wrap a {
    width: 180px;
    height: 50px;
    margin-left: 66px;
    color: #fff;
    font-size: 16px;
    background: #ec650f;
    border-radius: 4px;
    text-decoration: none; }
    .video-info-wrap a img {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      user-select: none;
      pointer-events: none; }

section {
  margin-bottom: 60px; }
  @media (max-width: 991.98px) {
    section {
      margin-bottom: 50px; } }

@media (max-width: 991.98px) {
  .swiper-container {
    margin-left: calc(40px / -2);
    margin-right: calc(40px / -2); } }

.swiper {
  margin-top: 50px;
  margin-bottom: 50px; }

.swiper-slide .thumbnail {
  position: relative; }
  .swiper-slide .thumbnail a.btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 41px;
    height: 41px;
    margin: auto;
    padding: 0;
    border: none;
    display: none; }
  .swiper-slide .thumbnail a .play-icon {
    display: block;
    width: 100%;
    height: 100%; }
  .swiper-slide .thumbnail.mobile-end a.btn {
    display: block; }
  .swiper-slide .thumbnail:hover a.btn {
    display: block; }

.swiper-slide a.download {
  color: #646565; }
  .swiper-slide a.download:hover {
    text-decoration: none;
    color: #F05A23; }

