.nav-breadcrumb {
  margin-bottom: 0; }

.page-title-container {
  padding: 0;
  margin-bottom: 30px; }
  @media (max-width: 767.98px) {
    .page-title-container {
      display: none; } }

.page-desc {
  display: none; }

.banner-video .banner-desc {
  margin-bottom: 0;
  padding: 40px; }
  @media (max-width: 767.98px) {
    .banner-video .banner-desc {
      padding-bottom: 0; } }

