.tile-contact {
  max-width: 280px; }
  @media (max-width: 767.98px) {
    .tile-contact {
      max-width: unset; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .press-contact-relations {
    display: block; }
    .press-contact-relations .col-sm-6.mb-4 {
      max-width: 100%; } }

@media (min-width: 992px) {
  .press-contact-relations {
    display: block; }
    .press-contact-relations .col-sm-6.mb-4 {
      max-width: 100%; }
  .border-bottom .press-contact-relations {
    display: flex; }
    .border-bottom .press-contact-relations .col-sm-6.mb-4 {
      max-width: 50%; } }

