.section--top {
  margin-bottom: 100px; }
  @media (max-width: 1199.98px) {
    .section--top {
      margin-bottom: 50px; } }
  .section--top .content {
    max-width: 476px; }
  .section--top .home-item-list .list-title {
    color: #F05A23;
    font-weight: 500 !important;
    font-size: 3.1rem !important; }
    @media (max-width: 767.98px) {
      .section--top .home-item-list .list-title {
        font-size: 2rem !important; } }

.swiper--top-container .swiper-button-prev, .swiper--top-container .swiper-button-next {
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(15px) brightness(0.9); }
  @media (max-width: 991.98px) {
    .swiper--top-container .swiper-button-prev, .swiper--top-container .swiper-button-next {
      top: 30%; } }

.swiper--top-container .banner {
  margin: 0; }
  .swiper--top-container .banner .banner-desc {
    margin-bottom: 0;
    padding: 70px 60px;
    width: unset; }
    .swiper--top-container .banner .banner-desc .title {
      font-size: 2rem; }
    @media (max-width: 991.98px) {
      .swiper--top-container .banner .banner-desc .btn-icon .img-icon line {
        stroke: #F05A23;
        opacity: 1; } }
    @media (max-width: 991.98px) {
      .swiper--top-container .banner .banner-desc {
        padding: 0; }
        .swiper--top-container .banner .banner-desc .title {
          color: #F05A23; } }

.section--tiles {
  margin-bottom: 100px; }
  @media (max-width: 767.98px) {
    .section--tiles {
      margin-bottom: 50px; } }
  .section--tiles .tiles {
    margin: 0 -30px; }
    @media (min-width: 1200px) {
      .section--tiles .tiles {
        margin: 0 -60px; } }
    @media (max-width: 1199.98px) {
      .section--tiles .tiles {
        margin: 0; } }
  .section--tiles .tile-darken {
    background-color: #EEEFF0;
    color: #646565; }
  .section--tiles .tile {
    height: 100%; }
    @media (min-width: 576px) and (max-width: 991.98px) {
      .section--tiles .tile {
        margin-top: 30px !important;
        height: 93% !important; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .section--tiles .tile {
        padding-left: 20px !important;
        padding-right: 20px !important; }
        .section--tiles .tile .tile-icon-container {
          padding-left: 0 !important;
          padding-right: 0 !important; } }
    @media (max-width: 767.98px) {
      .section--tiles .tile {
        height: unset; } }
    @media (max-width: 575.98px) {
      .section--tiles .tile .align-items-center p {
        width: 160px;
        margin-left: 0 !important; } }
  @media (max-width: 767.98px) {
    .section--tiles .tile--icon {
      margin-bottom: 50px; } }
  .section--tiles .tile--icon .tile-icon-container {
    border-bottom: 1px solid #9D9A9A; }
    @media (max-width: 767.98px) {
      .section--tiles .tile--icon .tile-icon-container svg, .section--tiles .tile--icon .tile-icon-container img {
        width: 43px;
        height: 43px; } }
    @media (max-width: 575.98px) {
      .section--tiles .tile--icon .tile-icon-container {
        border-bottom: none;
        border-right: 1px solid #9D9A9A; } }

.home-numbered-swiper .desc-container {
  padding: 60px;
  padding-left: 120px; }
  @media (max-width: 1199.98px) {
    .home-numbered-swiper .desc-container {
      padding: 0; } }

.home-numbered-swiper .img-container .big-title {
  top: unset;
  bottom: 85px;
  left: unset;
  right: -90px; }
  @media (max-width: 1199.98px) {
    .home-numbered-swiper .img-container .big-title {
      left: 0;
      bottom: -70px;
      top: unset;
      right: 0; } }

.home-numbered-swiper .img-container .btn {
  left: unset;
  right: -60px; }
  @media (max-width: 1199.98px) {
    .home-numbered-swiper .img-container .btn {
      right: unset;
      right: -5px;
      bottom: -20px; } }

