.page-desc {
  display: none; }

@media (max-width: 767.98px) {
  .section-figure-sm .row > .col-md-12.col-4 {
    padding: 0; } }

@media (max-width: 767.98px) {
  .page-content {
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .details-page-content section:last-child {
    margin-bottom: 0; } }

.section--top {
  margin-bottom: 60px; }
  @media (max-width: 767.98px) {
    .section--top {
      margin-bottom: 88px; } }

.section--graphic-title {
  margin-bottom: 105px; }
  @media (max-width: 767.98px) {
    .section--graphic-title {
      margin-bottom: 60px; } }

.container-graphics {
  background-color: #f9f9f9;
  padding-top: 68px; }
  @media (max-width: 767.98px) {
    .container-graphics {
      padding-top: 44px; } }
  .container-graphics.before-line-decor:before {
    top: -40px;
    height: 80px; }
  @media (max-width: 767.98px) {
    .container-graphics.before-line-decor:before {
      top: -20px;
      height: 40px; } }
  .container-graphics .img-bg {
    margin-left: calc(40px / -2);
    margin-right: calc(40px / -2);
    width: calc(100% + 40px); }

.section--title {
  margin-bottom: 64px; }
  @media (max-width: 767.98px) {
    .section--title {
      margin-bottom: 28px; } }

.section--circles {
  margin-bottom: 80px; }
  @media (max-width: 1199.98px) {
    .section--circles {
      margin-bottom: 40px; } }
  .section--circles .circle {
    border-radius: 50%; }
    .section--circles .circle-sm {
      width: 20vw;
      height: 20vw;
      max-width: 234px;
      max-height: 234px;
      z-index: 1; }
      @media (max-width: 767.98px) {
        .section--circles .circle-sm {
          width: 28vw;
          height: 28vw; } }
    .section--circles .circle-lg {
      width: 24vw;
      height: 24vw;
      max-width: 348px;
      max-height: 348px;
      margin-left: -30px;
      margin-right: -30px; }
      .section--circles .circle-lg h2 {
        font-size: 2.75rem; }
      @media (max-width: 1199.98px) {
        .section--circles .circle-lg {
          width: 41vw;
          height: 41vw;
          margin-left: -10px;
          margin-right: -10px; }
          .section--circles .circle-lg h2 {
            font-size: 1.65rem; } }
    .section--circles .circle--bg-green {
      background-color: rgba(0, 94, 60, 0.15); }

.section--customers {
  margin-bottom: 100px; }
  .section--customers .text-pale-green {
    color: #89ACAF; }
  .section--customers .text-slate {
    color: #AA9494; }
  @media (max-width: 767.98px) {
    .section--customers {
      margin-bottom: 40px; } }

.section--contracts {
  margin-bottom: 100px; }
  @media (max-width: 767.98px) {
    .section--contracts {
      margin-bottom: 70px; } }

.section--descs .desc:not(:last-child) {
  margin-bottom: 80px; }
  @media (max-width: 767.98px) {
    .section--descs .desc:not(:last-child) {
      margin-bottom: 45px; } }

