.page-desc {
  display: none; }

.section--top .tile-more {
  max-width: 338px; }
  @media (max-width: 767.98px) {
    .section--top .tile-more {
      max-width: unset; } }
  .section--top .tile-more .btn-outline-white:not(.disabled):hover {
    background-color: #ffffff;
    color: #F05A23; }
    .section--top .tile-more .btn-outline-white:not(.disabled):hover .img-icon line {
      stroke: #F05A23; }

.w-month {
  width: 53px; }

