.page-desc {
  display: none; }

sup {
  margin-left: 2px; }

@media (max-width: 767.98px) {
  .grey-table--responsive .grey-table-body .row .col-title sup {
    color: #646565; }
  .grey-table--responsive .grey-table-body .row .label {
    color: rgba(100, 101, 101, 0.75); } }

#modal_popup_remarks .title:not(.title--remarks) {
  display: none; }

