.page-desc {
  display: none; }

.banner {
  background-image: url(../assets/images/event_video_banner.png);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767.98px) {
    .banner {
      background-image: url(../assets/images/event_video_banner_responsive.png); } }
  .banner .content {
    padding: 40px 100px 80px; }
    @media (max-width: 767.98px) {
      .banner .content {
        padding: 25px 30px; } }
  .banner .date {
    width: 60px; }
  .banner .month {
    background-color: rgba(157, 154, 154, 0.15); }

.section--past a:hover {
  text-decoration: none; }

.w-month {
  width: 53px; }

