.nav-breadcrumb {
  margin-bottom: 0; }

.page-title-container {
  padding: 0;
  margin-bottom: 30px; }
  @media (max-width: 767.98px) {
    .page-title-container {
      display: none; } }

.page-desc {
  display: none; }

.section--top .banner {
  z-index: -1; }

.section--top .event-details {
  margin-top: -68px; }
  @media (max-width: 767.98px) {
    .section--top .event-details {
      margin-top: -28px; } }

.banner-video .banner-desc {
  margin-bottom: 0;
  padding-bottom: 50px; }
  @media (max-width: 767.98px) {
    .banner-video .banner-desc {
      padding-bottom: 0; } }

.section--related-docs .related-docs .event-dates {
  padding-left: 0; }

