@media (max-width: 575.98px) {
  .page-vtab-content .tab-pane.ir-contacts {
    margin-left: -20px;
    margin-right: -20px; } }

.page-vtab-content .tab-pane.ir-contacts table {
  width: 100%;
  margin: auto;
  table-layout: fixed; }
  .page-vtab-content .tab-pane.ir-contacts table tr {
    border: none; }
  .page-vtab-content .tab-pane.ir-contacts table td, .page-vtab-content .tab-pane.ir-contacts table thead th {
    height: auto;
    padding: 8px 6px;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    border-radius: 0;
    border: none;
    background: transparent; }
    @media (max-width: 575.98px) {
      .page-vtab-content .tab-pane.ir-contacts table td, .page-vtab-content .tab-pane.ir-contacts table thead th {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 10px; }
        .page-vtab-content .tab-pane.ir-contacts table td:first-child, .page-vtab-content .tab-pane.ir-contacts table thead th:first-child {
          padding-left: 4px; } }
  .page-vtab-content .tab-pane.ir-contacts table thead th {
    font-size: 14px; }
  .page-vtab-content .tab-pane.ir-contacts table thead tr {
    background: #F4B084; }
  .page-vtab-content .tab-pane.ir-contacts table tbody tr:nth-of-type(even) {
    background: #FCE4D6; }

