.section--top {
  margin-bottom: 50px; }

.swiper--top-container .swiper-button-prev, .swiper--top-container .swiper-button-next {
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(15px) brightness(0.9); }
  @media (max-width: 991.98px) {
    .swiper--top-container .swiper-button-prev, .swiper--top-container .swiper-button-next {
      top: 30%; } }

.swiper--top-container .banner {
  margin: 0; }
  .swiper--top-container .banner .banner-desc {
    padding-left: 110px; }
    @media (max-width: 991.98px) {
      .swiper--top-container .banner .banner-desc {
        padding: 0; }
        .swiper--top-container .banner .banner-desc .title {
          color: #F05A23; } }

.section-content {
  margin: 0 -30px; }
  @media (min-width: 1200px) {
    .section-content {
      margin: 0 -60px; } }
  @media (max-width: 991.98px) {
    .section-content {
      margin: 0; } }

.section--tiles {
  margin-bottom: 60px; }
  @media (max-width: 767.98px) {
    .section--tiles .align-items-center {
      display: flex !important; }
    .section--tiles .tile-icon-container {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      color: red; } }
  @media (max-width: 991.98px) {
    .section--tiles .icon-width {
      width: 150px; } }
  .section--tiles .container-grid {
    display: grid;
    column-gap: 30px;
    row-gap: 30px; }
    @media (min-width: 768px) {
      .section--tiles .container-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr); } }
    @media (min-width: 768px) {
      .section--tiles .container-grid--sm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); } }
  .section--tiles .tile {
    padding: 30px 40px;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 767.98px) {
      .section--tiles .tile {
        padding: 30px 34px;
        min-height: calc(100vw - 40px); } }
  .section--tiles .tile--event {
    background-image: url(../assets/images/ir_tile_event.png); }
    @media (min-width: 768px) {
      .section--tiles .tile--event {
        grid-area: 1 / 1; } }
    .section--tiles .tile--event .date {
      width: 60px; }
    .section--tiles .tile--event .month {
      background-color: rgba(157, 154, 154, 0.15); }
  @media (min-width: 768px) {
    .section--tiles .tile--orange-gradient {
      grid-row: 1;
      grid-column: 2 / 4; } }
  .section--tiles .tile--report {
    background-image: url(../assets/images/ir_tile_report.png); }
    @media (min-width: 768px) {
      .section--tiles .tile--report {
        grid-row: 1;
        grid-column: 4; } }
    .section--tiles .tile--report .title {
      width: 50%; }
  .section--tiles .tile--reports {
    background-image: url(../assets/images/ir_tile_reports.png); }
    @media (min-width: 768px) {
      .section--tiles .tile--reports {
        grid-row: 2 / 4;
        grid-column: 1 / 3; } }
    @media (max-width: 991.98px) {
      .section--tiles .tile--reports {
        background-image: url(../assets/images/ir_tile_reports_responsive.png); } }
  @media (min-width: 768px) {
    .section--tiles .container-grid--sm {
      grid-row: 2 / 4;
      grid-column: 3 / 5; } }
  @media (min-width: 992px) {
    .section--tiles .tile--icon:nth-child(2), .section--tiles .tile--icon:nth-child(3) {
      background-color: #EEEFF0 !important;
      color: #646565 !important; } }
  @media (max-width: 767.98px) {
    .section--tiles .tile--icon {
      min-height: unset; }
      .section--tiles .tile--icon:nth-child(odd) {
        background-color: #EEEFF0 !important;
        color: #646565 !important; } }
  .section--tiles .tile--icon .tile-icon-container {
    border-bottom: 1px solid #9D9A9A; }
    @media (max-width: 767.98px) {
      .section--tiles .tile--icon .tile-icon-container {
        border-bottom: none;
        border-right: 1px solid #9D9A9A; }
        .section--tiles .tile--icon .tile-icon-container svg {
          width: 43px;
          height: 43px; } }

.section--stock .title {
  width: 100%; }
  @media (max-width: 991.98px) {
    .section--stock .title {
      width: 100%; } }

.section--stock iframe {
  width: 100%;
  border: 0; }

.irevent-date {
  flex: 0; }
  @media (min-width: 768px) {
    .irevent-date {
      min-height: 59px; } }

div.irevent-watch {
  display: inline-block;
  margin-bottom: 40px;
  padding: 0.7rem 1.9rem;
  color: #646565;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }
  @media (min-width: 768px) {
    div.irevent-watch::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 10px;
      vertical-align: middle; } }

