section.sustainability_model {
  position: relative; }
  section.sustainability_model figure {
    text-align: center; }
    section.sustainability_model figure img {
      width: 50%; }
      @media (min-width: 768px) {
        section.sustainability_model figure img {
          margin-left: -350px; } }
    section.sustainability_model figure figcaption {
      font-size: 0.875rem;
      color: #646565;
      margin-top: 25px; }
      @media (min-width: 768px) {
        section.sustainability_model figure figcaption {
          margin-left: -350px; } }
  section.sustainability_model aside.orangeBox {
    border-radius: 3px;
    background: #f2601e;
    background: -moz-linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
    background: -webkit-linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
    background: linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2601e",endColorstr="#fe8501",GradientType=1);
    padding: 40px;
    position: relative;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      section.sustainability_model aside.orangeBox {
        position: absolute;
        top: 0;
        right: 0; } }
    section.sustainability_model aside.orangeBox h3 {
      color: #FFFFFF;
      font-size: 1.5rem;
      line-height: 2.125rem;
      margin-bottom: 25px;
      font-weight: normal; }
    section.sustainability_model aside.orangeBox button {
      border: solid 1px rgba(255, 255, 255, 0.5);
      padding: 0.7rem 1.5rem; }
      section.sustainability_model aside.orangeBox button svg {
        margin-right: 10px; }
      section.sustainability_model aside.orangeBox button:hover {
        color: #F05A23; }
        section.sustainability_model aside.orangeBox button:hover line {
          stroke: #F05A23; }
    section.sustainability_model aside.orangeBox div[data-popup] {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #FFFFFF;
      border: solid 2px #F05A23;
      border-radius: 3px;
      width: 100%;
      padding: 50px 25px; }
      section.sustainability_model aside.orangeBox div[data-popup] img {
        width: 50%;
        margin-bottom: 15px; }
      section.sustainability_model aside.orangeBox div[data-popup] h4 {
        color: #F05A23;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: normal;
        margin-bottom: 20px; }
      section.sustainability_model aside.orangeBox div[data-popup] .text {
        margin-bottom: 25px; }
      section.sustainability_model aside.orangeBox div[data-popup] a.btn-next {
        color: #9D9A9A;
        display: flex;
        align-items: center; }
        section.sustainability_model aside.orangeBox div[data-popup] a.btn-next:before {
          content: "";
          background-color: #F05A23;
          height: 2px;
          width: 25px;
          margin-right: 10px; }
      section.sustainability_model aside.orangeBox div[data-popup] button.close {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 1;
        float: none; }
        section.sustainability_model aside.orangeBox div[data-popup] button.close svg {
          margin-right: 0; }
        section.sustainability_model aside.orangeBox div[data-popup] button.close line {
          stroke: #919493; }
        section.sustainability_model aside.orangeBox div[data-popup] button.close:focus {
          outline: none; }

