section.org-chart-mobile {
  margin: 0 auto;
  text-align: center;
  display: block; }
  @media (min-width: 992px) {
    section.org-chart-mobile {
      display: none; } }
  section.org-chart-mobile .scale {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 1000;
    text-align: center; }
    section.org-chart-mobile .scale .close {
      position: fixed;
      top: 10px;
      right: 10px; }
  section.org-chart-mobile .level {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px; }
  section.org-chart-mobile .left {
    flex: 0 1 70%; }
    section.org-chart-mobile .left img {
      width: 100%; }
  section.org-chart-mobile .right {
    flex: 0 1 30%;
    padding-top: 0px; }
    @media (min-width: 576px) {
      section.org-chart-mobile .right {
        padding-top: 14px; } }
    section.org-chart-mobile .right a {
      position: relative;
      color: #9D9A9A;
      border: solid 1px #DEE2E5;
      border-radius: 22px;
      padding: 5px 15px;
      display: inline-block;
      font-size: 12px;
      line-height: 1.375rem; }
      @media (min-width: 576px) {
        section.org-chart-mobile .right a {
          font-size: 0.875rem; } }
      section.org-chart-mobile .right a:before {
        content: "+";
        font-weight: bold;
        font-size: 1.2rem;
        display: inline-block;
        color: #F05A23;
        margin-right: 10px;
        vertical-align: bottom; }
    section.org-chart-mobile .right .space1 {
      height: 1%; }
      @media (min-width: 576px) {
        section.org-chart-mobile .right .space1 {
          height: 5%; } }
    section.org-chart-mobile .right .space2 {
      height: 15%; }
      @media (min-width: 576px) {
        section.org-chart-mobile .right .space2 {
          height: 19%; } }
    section.org-chart-mobile .right .space3 {
      height: 10%; }
      @media (min-width: 576px) {
        section.org-chart-mobile .right .space3 {
          height: 16%; } }
    section.org-chart-mobile .right aside {
      display: none; }

section.org-chart {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: none; }
  @media (min-width: 992px) {
    section.org-chart {
      display: block; } }
  section.org-chart .level {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px; }
    section.org-chart .level .left {
      flex: 0 1 80%; }
    section.org-chart .level .right {
      flex: 0 1 20%; }
      section.org-chart .level .right a {
        font-size: 0.875rem;
        line-height: 1.375rem; }
  section.org-chart .block {
    display: inline-block;
    padding: 0 50px;
    text-align: center;
    color: #ffffff;
    line-height: 1.75rem;
    font-size: 1.25rem;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); }
  section.org-chart #level1 .block {
    width: 100%;
    background-color: #F05A23;
    padding: 10px 20px; }
  section.org-chart #level2 .block {
    background-color: #FD8301;
    position: relative;
    padding: 10px 20px; }
  section.org-chart #level2 .left > .block {
    margin-bottom: 30px; }
    section.org-chart #level2 .left > .block:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      width: 1px;
      height: 30px;
      background-color: #919493;
      margin: 0 auto; }
  section.org-chart #level2 .sub-level {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative; }
    section.org-chart #level2 .sub-level:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 80%;
      height: 1px;
      background-color: #919493;
      margin: 0 auto; }
    section.org-chart #level2 .sub-level .block {
      margin-top: 30px;
      flex: 0 1 20%;
      max-width: 20%;
      padding: 0;
      line-height: 1.375rem;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      padding: 20px; }
      section.org-chart #level2 .sub-level .block:before {
        content: "";
        display: block;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        width: 1px;
        height: 30px;
        background-color: #919493;
        margin: 0 auto; }
  section.org-chart #level3 .block {
    width: 100%;
    background-color: rgba(131, 131, 131, 0.6);
    margin-bottom: 10px;
    padding: 10px 20px; }
    section.org-chart #level3 .block:nth-child(2) {
      font-size: 1rem; }
    section.org-chart #level3 .block.small {
      width: auto;
      background-color: #F05A23;
      border-radius: 3px;
      font-size: 0.875rem;
      padding: 5px;
      line-height: 1rem;
      position: relative;
      margin-bottom: 45px; }
      section.org-chart #level3 .block.small:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        width: 2px;
        height: 30px;
        background-color: #F05A23;
        margin: 0 auto; }
      section.org-chart #level3 .block.small:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 12px;
        height: 12px;
        border-right: solid 2px #F05A23;
        border-top: solid 2px #F05A23;
        transform: rotate(135deg); }
  section.org-chart #level4 .left {
    position: relative; }
    section.org-chart #level4 .left p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-bottom: 0; }
      section.org-chart #level4 .left p:last-of-type {
        font-size: 1rem;
        color: #F05A23; }
  section.org-chart #level4 .circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px; }
    section.org-chart #level4 .circles .circle {
      background-color: rgba(145, 148, 147, 0.2);
      border-radius: 100%;
      padding: 50px;
      color: #646565;
      font-size: 1rem;
      line-height: 1.5rem;
      width: 360px;
      height: 360px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      line-height: 1.5rem; }
      section.org-chart #level4 .circles .circle:first-of-type {
        margin-left: 5%; }
      section.org-chart #level4 .circles .circle:last-child {
        position: absolute;
        right: 5%; }
  section.org-chart .right a {
    position: relative;
    color: #9D9A9A;
    border: solid 1px #DEE2E5;
    border-radius: 22px;
    padding: 5px 15px;
    display: inline-block; }
    section.org-chart .right a:before {
      content: "+";
      font-weight: bold;
      font-size: 1.2rem;
      display: inline-block;
      color: #F05A23;
      margin-right: 10px;
      vertical-align: bottom; }
  section.org-chart .right aside {
    display: none; }

