.section--banner {
  margin: 70px 0 65px; }
  @media (max-width: 767.98px) {
    .section--banner {
      margin: 60px 0 55px; } }

ul {
  padding-inline-start: 20px; }

section h5.text-primary.mb-4 {
  position: relative; }
  section h5.text-primary.mb-4 .anchor-elem-scroll-behavior {
    position: absolute;
    top: -84px;
    left: 0;
    z-index: -1; }
    @media (min-width: 1200px) {
      section h5.text-primary.mb-4 .anchor-elem-scroll-behavior {
        top: -68px; } }

