@media (max-width: 1439.98px) {
  .grid .cards {
    margin-left: -38px; } }

@media (max-width: 1199.98px) {
  .grid .cards {
    margin-left: -35px; } }

@media (max-width: 991.98px) {
  .grid .cards {
    margin-left: -25px; } }

@media (max-width: 767.98px) {
  .grid .cards {
    justify-content: center; } }

.grid .col-tile {
  width: 450px;
  height: 430px;
  margin-bottom: 70px; }
  .grid .col-tile > a {
    width: 360px; }
    .grid .col-tile > a .d-responsive {
      display: none !important; }
    .grid .col-tile > a .d-desktop {
      display: block !important; }
    @media (max-width: 767.98px) {
      .grid .col-tile > a .mb-md-2, .grid .col-tile > a .my-md-2 {
        margin-bottom: 10px !important; }
      .grid .col-tile > a .pb-md-8, .grid .col-tile > a .py-md-8 {
        padding: 40px 30px !important; } }
  @media (max-width: 1439.98px) {
    .grid .col-tile {
      flex: none;
      width: 333px;
      height: 398px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0; }
      .grid .col-tile > a {
        width: 100%; } }
  @media (max-width: 1199.98px) {
    .grid .col-tile {
      width: 300px;
      height: 358px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px; } }
  @media (max-width: 991.98px) {
    .grid .col-tile {
      width: 300px;
      height: 368px;
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 8px; } }
  @media (max-width: 767.98px) {
    .grid .col-tile {
      width: 426px;
      height: 508px; } }
  @media (max-width: 575.98px) {
    .grid .col-tile {
      width: 250px;
      height: 298px; }
      .grid .col-tile h5 {
        font-size: 1rem; } }
  @media (max-width: 767.98px) {
    .grid .col-tile {
      margin-bottom: 45px; } }

.grid .tile:hover {
  text-decoration: none; }

.grid .tile--img .img-wrapper {
  height: 100%; }

.grid .tile--color .title {
  line-height: 1.2; }

.grid .tile--color:after {
  content: "";
  display: block;
  padding-bottom: 50%;
  pointer-events: none; }

.modal-popup--filter .modal-header {
  background-color: transparent; }
  .modal-popup--filter .modal-header .close svg line {
    stroke: #9D9A9A; }

.modal-popup--filter .modal-body {
  padding-top: 0; }
  .modal-popup--filter .modal-body .title {
    display: none; }
  .modal-popup--filter .modal-body .row-fitler .col-name {
    margin-bottom: 20px !important; }

.btn-floating-container .btn-filter {
  margin: 0 auto;
  width: fit-content;
  transition: all 0.3s ease-out; }

.btn-floating-container.sticky--active .btn-filter {
  margin: 0;
  padding: unset;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .btn-floating-container.sticky--active .btn-filter .img-icon {
    margin-right: 0; }
  .btn-floating-container.sticky--active .btn-filter span {
    display: none; }

