.section--top {
  margin-bottom: 180px; }
  @media (max-width: 767.98px) {
    .section--top {
      margin-bottom: 50px; } }
  .section--top img {
    border-radius: 3px; }
    @media (max-width: 767.98px) {
      .section--top img {
        border-radius: 0; } }
  .section--top .content {
    max-width: 476px; }
    .section--top .content h5 {
      line-height: 1.5; }
    .section--top .content a {
      color: #9D9A9A; }
      .section--top .content a:hover {
        color: #F05A23;
        text-decoration: none; }
    @media (max-width: 767.98px) {
      .section--top .content {
        padding: 0 40px;
        max-width: unset; } }

.swiper--banner .banner {
  margin: 0; }
  @media (max-width: 767.98px) {
    .swiper--banner .banner .btn-icon .img-icon line {
      stroke: #F05A23;
      opacity: 1; } }

section {
  margin-bottom: 100px; }

.list h2 {
  font-size: 1.875rem;
  line-height: 3.125rem; }

.list .items li {
  border-bottom: solid 1px #919493; }
  .list .items li a:hover {
    text-decoration: none; }
    .list .items li a:hover span.title {
      color: #F05A23; }
  .list .items li a span {
    display: block; }
    .list .items li a span.date {
      color: #9D9A9A;
      font-size: 0.875rem;
      line-height: 1.375rem; }
    .list .items li a span.title {
      color: #646565;
      line-height: 1.5rem; }

.list .items > a {
  display: flex;
  align-items: center; }
  .list .items > a:hover {
    color: #F05A23; }
  .list .items > a:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 20px;
    margin-right: 10px;
    background-color: #F05A23; }

.squares {
  margin: 0 -60px; }
  @media (max-width: 1199.98px) {
    .squares {
      margin: 0 -30px; } }
  @media (max-width: 767.98px) {
    .squares {
      margin: 0 -10px; } }
  .squares .row > div {
    padding: 10px;
    transition: all 0.2s; }
    .squares .row > div:hover {
      padding-top: 7px;
      padding-left: 7px; }
      .squares .row > div:hover .square {
        -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2); }
    .squares .row > div:nth-child(odd) .square {
      background-color: #EEEFF0; }
    .squares .row > div:nth-child(even) .square {
      background-color: #F9F9F9; }
  .squares .square {
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-radius: 3px; }
    .squares .square.orange {
      background: #f2601e;
      background: -moz-linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
      background: -webkit-linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
      background: linear-gradient(180deg, #f2601e 0%, #fe8501 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2601e",endColorstr="#fe8501",GradientType=1); }
      .squares .square.orange h3 {
        color: #FFFFFF;
        border-top: 0;
        padding-top: 0;
        width: 95%;
        margin: 0 auto;
        text-align: left; }
      .squares .square.orange .text {
        color: #FFFFFF;
        text-align: left;
        margin: 0 auto;
        width: 95%; }
    .squares .square.image {
      justify-content: flex-end;
      padding: 15px;
      text-align: left;
      align-items: flex-start; }
      .squares .square.image .image {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%; }
      .squares .square.image span, .squares .square.image h3 {
        z-index: 2;
        color: #FFFFFF; }
      .squares .square.image h3 {
        margin: 0;
        margin-top: 10px;
        padding-top: 0;
        border-top: 0; }
      .squares .square.image span.tag {
        background-color: #F05A23;
        display: inline-block;
        border-radius: 3px;
        font-size: 0.875rem;
        padding: 5px 15px;
        line-height: 100%; }
    .squares .square h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      border-top: solid 1px rgba(145, 148, 147, 0.5);
      display: inline-block;
      margin: 0 auto;
      margin-top: 40px;
      padding-top: 25px;
      width: 80%; }
    .squares .square img {
      width: auto;
      max-height: 60px; }
    .squares .square.orange h3 {
      min-height: 0; }
    @media (min-width: 992px) {
      .squares .square h3 {
        min-height: 109px; } }
    @media (min-width: 1200px) {
      .squares .square h3 {
        min-height: 81px; } }

