@media (max-width: 991.98px) {
  .banner .banner-desc {
    color: #fff; }
    .banner .banner-desc .title {
      color: #fff; } }

.section--top {
  margin-bottom: 90px; }
  @media (min-width: 768px) {
    .section--top {
      margin-bottom: 160px; } }
  .section--top .d-desktop {
    display: none !important; }
    @media (min-width: 768px) {
      .section--top .d-desktop {
        display: block !important; } }
  .section--top .d-responsive {
    display: block !important; }
    @media (min-width: 768px) {
      .section--top .d-responsive {
        display: none !important; } }
  .section--top > .container-fluid .row-listing {
    margin-left: -40px;
    margin-right: -40px; }
    .section--top > .container-fluid .row-listing > [class*="col"] {
      padding-left: 40px;
      padding-right: 40px; }
    @media (max-width: 1199.98px) {
      .section--top > .container-fluid .row-listing {
        margin-left: -20px;
        margin-right: -20px; }
        .section--top > .container-fluid .row-listing > [class*="col"] {
          padding-left: 20px;
          padding-right: 20px; } }
  @media (max-width: 1199.98px) {
    .section--top .swiper--top-container {
      margin-left: -20px;
      margin-right: -20px; } }
  @media (max-width: 1199.98px) {
    .section--top .tiles {
      overflow: auto;
      scroll-snap-type: x mandatory;
      margin-right: -20px;
      padding-right: 20px;
      padding-bottom: 10px; } }
  @media (max-width: 1199.98px) {
    .section--top .tiles .tile-top {
      scroll-snap-align: start; }
      .section--top .tiles .tile-top:last-child {
        padding-right: 20px; } }
  .section--top .tiles .tile-top:hover {
    color: #646565;
    text-decoration: none; }
  .section--top .tiles .tile-top img {
    width: unset;
    max-width: 60vw; }
    @media (min-width: 768px) {
      .section--top .tiles .tile-top img {
        width: 100%; } }
  .section--top .tiles .tile-top .hover-elevation {
    overflow: hidden; }
    .section--top .tiles .tile-top .hover-elevation:hover .blur-overlay {
      backdrop-filter: none; }
      @media (min-width: 768px) {
        .section--top .tiles .tile-top .hover-elevation:hover .blur-overlay {
          backdrop-filter: blur(10px) brightness(0.7); } }
  .section--top .tiles .tile-top .big-title {
    position: relative;
    -webkit-text-stroke: 1px #dcdcdc;
    font-size: 80px;
    font-weight: 700;
    color: transparent;
    line-height: 1;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; }
    @media (min-width: 768px) {
      .section--top .tiles .tile-top .big-title {
        position: absolute;
        left: -35px; } }

.swiper--top-container .swiper-button-prev, .swiper--top-container .swiper-button-next {
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(15px) brightness(0.9); }

.swiper--top-container .banner-desc-container {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  display: flex;
  align-items: flex-end; }
  @media (min-width: 768px) {
    .swiper--top-container .banner-desc-container {
      left: 0;
      right: 0; } }
  .swiper--top-container .banner-desc-container .banner-desc {
    margin: 0;
    width: auto; }
    .swiper--top-container .banner-desc-container .banner-desc a.btn-icon {
      color: #FFF; }

@media (max-width: 991.98px) {
  .section--about-us-diagram {
    margin-top: 40px; } }

.section--subsidiaries .subsidiaries > .container {
  padding-top: 70px;
  padding-bottom: 60px; }
  @media (max-width: 991.98px) {
    .section--subsidiaries .subsidiaries > .container {
      padding-top: 50px;
      padding-bottom: 40px; } }
  .section--subsidiaries .subsidiaries > .container .row {
    height: auto; }
    @media (min-width: 992px) {
      .section--subsidiaries .subsidiaries > .container .row {
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 450px; } }
  .section--subsidiaries .subsidiaries > .container .subsidiary {
    flex: 0 0 100%;
    max-width: 100%;
    cursor: default; }
    @media (min-width: 992px) {
      .section--subsidiaries .subsidiaries > .container .subsidiary {
        flex: auto;
        max-width: 20%; } }
    .section--subsidiaries .subsidiaries > .container .subsidiary .d-flex a {
      color: #646565; }
      .section--subsidiaries .subsidiaries > .container .subsidiary .d-flex a:hover {
        color: #F05A23; }
    .section--subsidiaries .subsidiaries > .container .subsidiary:hover {
      color: #000; }

.section--more .container-grid {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  @media (max-width: 991.98px) {
    .section--more .container-grid {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      margin-right: -20px; } }

.section--more .tile-more {
  transition: all 0.3s ease-out; }
  @media (min-width: 768px) {
    .section--more .tile-more:first-child {
      grid-area: 1 / 1 / 3 / 3; } }
  @media (max-width: 991.98px) {
    .section--more .tile-more {
      flex-shrink: 0;
      margin-right: 30px;
      width: 70vw;
      scroll-snap-align: start;
      color: #646565; } }
  .section--more .tile-more .tile-content {
    height: 100%; }
    @media (max-width: 991.98px) {
      .section--more .tile-more .tile-content {
        height: 70vw; } }
  .section--more .tile-more:hover {
    transform: translate(0px, -10px);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.5); }
    @media (max-width: 991.98px) {
      .section--more .tile-more:hover {
        transform: none;
        box-shadow: none; } }

.section--more .tile-more-border-radius {
  border-radius: 5px;
  overflow: hidden; }
  @media (max-width: 991.98px) {
    .section--more .tile-more-border-radius {
      border-radius: 3px; } }

