.page-desc {
  display: none; }

.search-result {
  color: #646565;
  word-break: break-all;
  word-wrap: break-word; }
  .search-result:hover {
    color: #646565;
    text-decoration: none; }
    .search-result:hover .title {
      text-decoration: underline; }
    .search-result:hover .link {
      color: #ba3b0d !important; }

.page-title-container h1 {
  word-break: break-all;
  word-wrap: break-word; }

